---
import BaseLayout from '../../layouts/BaseLayout.astro';
import AppCard from '../../components/AppCard.astro';
import PageDocument from '../../components/PageDocument.astro';
import ValueBadge from '../../components/ValueBadge.astro';
import HeroBanner from '../../components/HeroBanner.astro';
import CoreValues from '../../components/CoreValues.astro';
import AppsSection from '../../components/AppsSection.astro';
import {getLangFromUrl, getStaticPathsFromUi, useTranslations} from '../../i18n/utils';
import websiteHeaderImg from '../../assets/website_header.jpg';
import {ui, defaultLang} from '../../i18n/ui';

export function getStaticPaths() {
  return getStaticPathsFromUi();
}

type TranslationKey = keyof typeof ui[typeof defaultLang];

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const images = import.meta.glob<{ default: ImageMetadata }>('../../assets/*/header*.webp', {eager: true});

const appKeys = Object.keys(ui[defaultLang]).filter(key => key.startsWith('app_') && key.endsWith('_title'));

const myApps = appKeys.map(key => {
  const slug = key.replace('app_', '').replace('_title', '');

  const localizedPath = `../../assets/${slug}/header-${lang}.webp`;
  const defaultPath = `../../assets/${slug}/header.webp`;

  let imgSrc = null;

  if (images[localizedPath]) {
    imgSrc = images[localizedPath].default;
  } else if (images[defaultPath]) {
    imgSrc = images[defaultPath].default;
  }

  return {slug, imgSrc};
});
---
<BaseLayout description={t('pageDesc')}>
  <HeroBanner imgSrc={websiteHeaderImg} imgAlt="neuro / dev - neurodivergent software developer"/>

  <PageDocument title={t('missionTitle')}>
    <p>{t('missionText1')}</p>
    <p>{t('missionText2')}</p>

    <CoreValues>
      <ValueBadge text={t('value1')}/>
      <ValueBadge text={t('value2')}/>
      <ValueBadge text={t('value3')}/>
    </CoreValues>
  </PageDocument>

  <AppsSection title={t('appsHeader')}>
    {myApps.map((app) => (
        <AppCard
            href={`/${lang}/${app.slug}`}
            imgSrc={app.imgSrc}
            imgAlt={t(`app_${app.slug}_title` as TranslationKey)}
            title={t(`app_${app.slug}_title` as TranslationKey)}
            description={t(`app_${app.slug}_desc` as TranslationKey)}
            btnText={t('appViewWebsiteBtn')}
        />
    ))}
  </AppsSection>
</BaseLayout>
